Hey, {{this.firstName}}<br/>

<label for="">Leave a message alert:
{{!-- {{input value=this.myValue}} --}}
<Input @type="text" @value={{this.myValue}} />
</label>
<button type="button" onclick={{action 'press' this.myValue}}>Press Me</button>

{{ yield }}
