<div class="map">
  <img
    alt="Map image at coordinates {{@lat}},{{@lng}}"
    <!-- Everything coming before the ...attributes can be overrited -->
    ...attributes
    src={{this.src}}
    width={{@width}} height={{@height}}
  />
</div>