{{page-title "Application"}}

<LinkTo @route='/'><h2>Home</h2></LinkTo>
<LinkTo @route='papers'>Papers</LinkTo>
<LinkTo @route='staplers'>Staplers</LinkTo>
<br><br>

{{!-- {{#office-stapler as |prop|}}
  Favorite Number: {{prop.mynumber}} <br>
  Color: {{prop.color}} <br>
  Number of Staples: {{prop.staples}} <br>
  Inside Component
{{/office-stapler}} --}}

<OfficeStapler as |prop|>
  Favorite Number: {{prop.mynumber}} <br>
  Color: {{prop.color}} <br>
  Number of Staples: {{prop.staples}} <br>
  Inside Component
</OfficeStapler>

{{ outlet }}
